/* SHADOW DIVIDER */

.shadow-divider {
  /* SELF-LAYOUT */
  width: 100%;
  /* APPEARANCE */

  box-shadow: 0 13px 46px 43px rgb(0, 0, 0);
  background-color: black;
  /* MISCELLANEAOUS */

  /* INNER-LAYOUT */

  /* TEXT */
}
